@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --star-size: 60px;
  --star-color: #fff;
  --star-background: #673ab7;
}

.stars {
  display: inline-block;
  font-size: medium;
  font-family: Times;
  line-height: 1;
}

.stars::before {
  content: "⭐⭐⭐⭐⭐";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
